
body{
    margin:0;
}

/* fonts */


  @import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&family=Montserrat:wght@500&family=Open+Sans:wght@600&family=Poppins:wght@500&family=Ubuntu:wght@300&family=Work+Sans:wght@500&display=swap');




  /* buttons */

  .btn-primary{
    background: #FF900E;
    width: 180px;
    height: 64px;
    margin-bottom: 32px ;
    border-radius: 8px;
    border: none;
  }
.nav-manu ul li{
    list-style: none;
}

.header-info{
    margin: 0 auto;
}
.header-des{
        margin: auto;
        width: 50%;
        /* border: 3px solid green; */
        padding: 10px;
        text-align: center;

}

.header-img img{
   
    margin-left : 13rem;
    width: 70%;
    height: 20rem;
  
    
} 


/* responsive */

 @media screen and (max-width:576px) {
    .header{
        background: rgba(255, 144, 14, 0.1);
        
    }
    .nav{
        background: rgba(255, 144, 14, 0.1);
        display: flex;
        flex-direction: column;
    }
    .header-img img{
        margin-left: 3rem;
        width: 70%;
        height: 10rem;
      
        
    } 
   
}
@media screen and (min-width:800px) {
    .header{
        background: rgba(255, 144, 14, 0.1);
    
    }

    .nav{
     
        display: flex;
        justify-content: space-around;
    }
    
    .nav-manu ul{
        display: flex;
        gap:30px;
        
        
    }
    

    
} 

